body {
    color: rgb(2, 6, 8);
    background-color: rgb(16, 141, 243);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: antiquewhite;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
